.app-grid {
  --sidebar-width: 240px;
  --header-height: 94px;
  overflow: hidden;

  .app-holder {
    --app-body-width: calc(100vw - var(--sidebar-width));
    --app-body-height: calc(100vh - var(--header-height));
    background: var(--app-bg);
    width: var(--app-body-width);
    min-height: var(--app-body-height);
    overflow: auto;
    margin-left: var(--sidebar-width);
    margin-top: var(--header-height);
    @include transitions(all 0.3s ease-out);

    .app-body {
      width: var(--app-body-width);
      padding: 30px 20px;
    }
  }

  &.app-grid--side-menu-collapsed {
    --sidebar-width: 60px;
  }
}
