.app-grid {
  .side-menu {
    background: linear-gradient(0deg, #35373E 0%, #2C2D31 100%);
    width: var(--sidebar-width);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
    @include transitions(width 0.3s ease-out);

    .side-menu__collapse-toggle {
      --toggle-width: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: calc(0px - var(--toggle-width));
      width: var(--toggle-width);
      height: 100vh;
      border: none;
      cursor: pointer;
      @include transitions(all 0.25s ease-in);

      button {
        height: 14px;
        width: var(--toggle-width);
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        position: relative;

        &::before,
        &::after {
          content: "";
          background-color: var(--primary);
          width: 2px;
          height: 8px;
          position: absolute;
          left: 8px;
          opacity: 0;
          transform: rotate(0deg);
          border-radius: 16px;
          transition: transform 200ms ease-in-out, opacity 300ms ease-in-out 200ms;
        }

        &::before {
          top: 0px;
        }

        &::after {
          top: 4px;
        }

        &:hover {
          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
            top: 5px;
          }
        }
      }

      &:hover {
        border-left: 3px solid var(--primary);

        button {
          &::before,
          &::after {
            opacity: 1;
          }
        }
      }
    }

    .side-menu__logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-shadow: -3px 4px 8px 0 rgba(0, 0, 0, 0.4);
      height: var(--header-height);
      min-height: var(--header-height);
      @include transitions(box-shadow 0.25s ease);

      img {
        width: 100%;
        height: auto;
        padding: 20px;
      }
    }

    .side-menu__options,
    .side-menu__fixed-options {
      .side-menu__option {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        font-family: var(--font-first);
        font-size: 13px;
        font-weight: 600;
        color: #bbbec3;
        @include transitions(all 0.25s ease-in);

        img {
          opacity: 0.6;
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        span {
          @include text_one_line;
        }

        &.side-menu__option--active,
        &:hover {
          color: var(--white-font);
          text-decoration: none;
          background: var(--primary);

          img {
            opacity: 1;
          }
        }
      }
    }

    .side-menu__options {
      margin-top: 20px;
      overflow: auto;
    }

    .side-menu__fixed-options {
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 25px;
    }
  }

  &.app-grid--side-menu-collapsed {
    .side-menu {
      width: var(--sidebar-width);

      .side-menu__collapse-toggle {
        button {
          &:hover {
            &::before {
              transform: rotate(-45deg);
            }

            &::after {
              transform: rotate(45deg);
              top: 4px;
            }
          }
        }
      }
      .side-menu__logo {
        box-shadow: none;
      }

      .side-menu__option span {
        display: none;
      }
    }
  }
}
