.login-container {
  display: flex;
  align-items: center;
  height: 100vh;
  background: var(--app-bg);

  .login-form {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.04);
    width: 501px;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;

    .login-form__logo {
      margin: 0;
      height: 75px;
      background: linear-gradient(#32343C, #28292E);
      border-radius: 6px 6px 0 0;
      margin-bottom: 10px;

      img {
        margin: 5px auto;
        display: block;
      }
    }

    .login-form__fields,
    .login-form__actions {
      padding: 0 45px;
    }

    .login-form__actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0px 20px;

      button {
        font-family: var(--font-first);
        font-weight: 500;
        font-size: 14px;
        min-width: 125px;
        color: var(--white-font);

        &:hover,
        &:active,
        &:focus,
        &:focus:active,
        &:hover:active {
          background: var(--white-font);
          color: var(--primary);
          border-color: var(--primary);
        }
      }

      a {
        color: #222;
        font-family: var(--font-first);
        font-size: 12px;
        font-weight: var(--black-font);
      }
    }
  }

  &.login-container--reset-password,
  &.login-container--forgot-password {
    .login-form {
      padding-bottom: 25px;
    }

    .login-form__fields {
      h3 {
        text-align: center;
        padding: 15px;
        margin: 0 20px 25px 20px;
        border-bottom: 1px solid #eee;
        font-family: var(--font-first);
        font-size: 18px;
        font-weight: 600;
        color: var(--black-font);
      }
    }

    .login-form__actions {
      justify-content: center;
    }

    .login-form__info {
      color: #028252;
      text-align: center;
      margin-top: 20px;
      visibility: hidden;

      &.login-form__info--show {
        visibility: visible;
      }
    }
  }
}
